body {
	font-family: 'Roboto', sans-serif;
}

.canvas-container {
	text-align: center;
}

canvas {
	position: relative;
	display: block;
	margin: 0px;
	margin-top: 10%;
}

.swal-height {
	height: 50vh;
}

.swal-height-2 {
	height: 85vh;
}

.swal-height-3 {
	height:40vh;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: blue;
  /* The width of your bars */
  stroke-width: 50px;
}

.ct-chart .ct-bar:nth-of-type(3n+1) {
  stroke: #ff726f;
}

.ct-chart .ct-bar:nth-of-type(3n+2) {
  stroke: #87d6eb;
}

.ct-chart .ct-bar:nth-of-type(3n+3) {
  stroke: #90ee90;
}